{% extends "layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% from "helpers.html" import input %}

{% block title %}
手策      -发表手策
{% endblock title %}


{% block content %}
        <ul class="nav nav-tabs">
            <li class="active"><a href="#editor" data-toggle="tab">编辑</a></li>
            <li><a href="#preview" data-toggle="tab" id="previewlink">预览</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="editor">
              {{ wtf.quick_form(upload, enctype="multipart/form-data") }}
            <form method="post" class="form">
			{{ form.hidden_tag() }}
			{{ input(form.title, placeholder="title", class="span9") }}
			{{ input(form.body, placeholder="Markdown", class="span9", rows="10") }}
			{{ input(form.tags, placeholder="Tags (英文逗号分开)", class="span9") }}

                    <div class="form-actions">
                        <div class="pull-left">
                            <a class="btn" href="#preview" id="previewbtn">预览</a>
                        </div>
                        <div class="pull-right">
                            <a class="btn" href="{{ url_for('.index') }}">取消</a>
                            <button class="btn btn-success" type="submit">发布</button>
                        </div>
                    </div>
            </form>
            </div>
            <div class="tab-pane" id="preview"></div>
        </div>
{% endblock content %}

{% block sidebar %}
        <h3>如何使用Markdown?</h3>
        <p>这个编辑器使用<a href="http://daringfireball.net/projects/markdown/">markdown</a>作为文本编辑。</p>
        <pre><code>
* I
* am
* a
* list</code></pre>
        将会显示成:
        <ul>
            <li>I</li>
            <li>am</li>
            <li>a</li>
            <li>list</li>
        </ul>
        <p><code>**粗体** and *斜体*</code> 将会显示成 <strong>粗体</strong> and <em>斜体</em>. </p>
        <p>创建链接: <code>[Github](http://www.github.com)</code>. 将会显示成： <a href="http://www.github.com">Github</a>.</p>
        <p>插入图片: <code>![](http://7xj0ry.com1.z0.glb.clouddn.com/lena.bmp)</code> 将会直接插入图片。</p>
        <p>文章标题:</p>
        <pre><code>
# Level 1
## Level 2
### Level 3
        </code></pre>
                <p>#符号数对应标题大写程度</p>

{% endblock sidebar %}

{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}
{% endblock %}