
{% extends "layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}
{% block content %}
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">

  <h1>欢迎来到手策！</h1>

    <p>让我们一起分享那些年读过的手册吧！</p>
    <p>您可以搜索、发表所需的工程技术书册, 发表手策前请先注册账号喔！</p>
    {% if current_user.can(Permission.WRITE_ARTICLES) %}
    <p><a href="{{url_for('main.post', id=current_user.id)}}" class="btn btn-primary btn-large">发布</a></p>
    {% else %}
    <p><a href="{{url_for('auth.register')}}" class="btn btn-primary btn-large">注册</a></p>
    {% endif %}
</div><!-- /.jumbotron -->

<div class="body-content">
  <div class="row">
      <div class="post-tabs">
              <ul class="nav nav-tabs">
                  <li {% if not show_followed %} class="active"{% endif %}><a href="{{ url_for('.show_all') }}">所有手册</a></li>
                  {% if current_user.is_authenticated() %}
                  <li {% if show_followed %} class="active"{% endif %}><a href="{{ url_for('.show_followed') }}">关注的人</a></li>
                  {% endif %}
              </ul>
              {% include '_posts.html' %}
      </div>
      {% if pagination %}
      <div class="pagination">
          {{ macros.pagination_widget(pagination, 'main.index') }}
      </div>
      {% endif %}
  </div><!-- /.row -->
</div>
{% endblock %}

