{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}手策  -分享阅读的手册{% endblock %}

{% block page_content %}
<div class="container">
	<div class="row">
		<div class="span8">
			<div class="page-header">
			    <h1>你好, {% if current_user.is_authenticated() %}{{ current_user.username }}{% else %}陌生人{% endif %}, 让我们分享读过的技术手册吧！</h1>
			</div>

		</div>
	</div>
	<div class="row">
		<div class="span8">
			{%block maincontent %}
			{%endblock maincontent %}
		</div>
		<div class="span3">
			{% block sidebar %}
			{% endblock sidebar %}
		</div>
		<div class="post-tabs">
			<div class="span8">
			    <ul class="nav nav-tabs">
				<li {% if not show_followed %} class="active"{% endif %}><a href="{{ url_for('.show_all') }}">所有手册</a></li>
				{% if current_user.is_authenticated() %}
				<li {% if show_followed %} class="active"{% endif %}><a href="{{ url_for('.show_followed') }}">关注的人</a></li>
				{% endif %}
			    </ul>
			    {% include '_posts.html' %}
			</div>
		</div>
		{% if pagination %}
		<div class="pagination">
		    {{ macros.pagination_widget(pagination, '.index') }}
		</div>
		{% endif %}
	</div>
{% endblock %}

{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}
{% endblock %}
